################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vscode/launch.json
.vscode/tasks.json
/.vs
bin/missive