# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Directories
/.vscode
/bin
/vs_love_letter/.vs/vs_love_letter/v16
/vs_love_letter/vs_love_letter.vcxproj.user
/vs_love_letter/vs_love_letter.vcxproj.filters
/vs_love_letter/vs_love_letter.vcxproj
/vs_love_letter/vs_love_letter.sln
/.vs
/vs_love_letter.vcxproj.user
/vs_love_letter.vcxproj.filters
/vs_love_letter.vcxproj
/vs_love_letter.sln
